body{
    background-color: rgb(187, 241, 244);
}
.logo{
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: rgb(241, 24, 8);
}
.theory{
    background-color: rgb(247, 236, 158);
    font-weight: bold;
    color: rgb(109, 7, 51);
}
.lines1{
    background-color: rgb(245, 143, 143);
    color: rgb(17, 0, 255);
}

.div2{
    background-color: blanchedalmond;
    font-weight: bold;

}
.div3{
    background-color: rgb(174, 174, 241);
    font-weight: bold;
    color: rgb(9, 10, 9);
}

.div4{
background-color: rgb(218, 235, 251);
font-weight: bold;

}